header {
    margin: 0;
    padding: 0 30px;
    height: 60px;
    background: white;
    -webkit-box-shadow: 0 0 6px #bfbfbf00;
    -moz-box-shadow:    0 0 6px #bfbfbf00;
    box-shadow:         0 0 6px #bfbfbf00;
    h2 {
        margin:0;
    }   
}
    