@import 'src/variables.scss';

.sidebar {
    width: 200px;
    background: white;
    height: calc(100vh - 60px);
    .menu-title {
        padding: 15px;
        font-size: 1.5rem;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
    }
    .navigation {
        padding: 10px;
        li {
            padding: 10px;
            font-size: 1.4rem;
            border-radius: 5px;
            margin-bottom: 1px;
            cursor: pointer;
            outline: none;
            &.active {
                background: $primary-color;
                color: white;
            }
            &:hover {
                background: $primary-color;
                transition: all 0.3s;
                color: white;
            }
            &:hover {
                background: $primary-color;
                transition: all 0.3s;
                color: white;
            }     
        }
    } 
}

.menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
} 

@media screen and (max-width: 600px) {
    .sidebar {
        position: absolute;
        left: -200px;
        z-index: 2;
        border-right: 1px solid $border-color;
        transition: all 0.3s;
        &.active {
            left: 0;
        }
    }
    .menu {
        display: inline-block;
    }
}