.home-wrapper {
    .overview {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 10px;
        @media screen and (max-width: 991px) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        }
    }
}

