@import 'src/variables.scss';

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  font-size: 10px
}
  
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: $background-color;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  margin:0
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.grid {
  display: grid;
  display: -ms-grid;
}

mat-card {
  background-color: white;
  -webkit-box-shadow: 0 0 6px #bfbfbf00;
  -moz-box-shadow:    0 0 6px #bfbfbf00;
  box-shadow:         0 0 6px #bfbfbf00;
}