@import 'src/variables.scss';

.section-title {
    color: $text-color;
    padding: 7px;
    .icon {
        font-size: 1.7rem;
    }
    .label {
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 7px;
    }
}

.description {
    background: rgb(71, 161, 246, 0.08);
    border-top: 1px solid rgb(171, 171, 171, 0.10);
    border-bottom: 1px solid rgb(171, 171 ,171, 0.10);
    font-size: 1.1rem;
    padding: 4px 30px;
    color: $text-color;
}

.view-actions {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid $border-color;
    position: absolute;
    top: 4px;
    right: 10px;
    button {
        padding: 0;
        height: 20px;
        line-height: 20px;
        width: 30px;
        min-width: 30px;
        background: transparent;
        border-radius: 0;
        &:first-child {
            border-right: 1px solid $border-color;
        }
        span {
            font-size: 1.6rem;
        }
        &.active {
            color: $primary-color;
        }
    }
}

mat-card {
    padding: 0px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}