@import 'src/variables.scss';

.section-title {
    color: $text-color;
    padding: 7px;
    .icon {
        font-size: 1.7rem;
    }
    .label {
        font-size: 1.3rem;
        font-weight: 500;
        margin-left: 7px;
    }
}

.description {
    background: rgb(71, 161, 246, 0.08);
    border-top: 1px solid rgb(171, 171, 171, 0.10);
    border-bottom: 1px solid rgb(171, 171 ,171, 0.10);
    font-size: 1.1rem;
    padding: 4px 30px;
    color: $text-color;
}

mat-card {
    padding: 0px;
    padding-bottom: 7px;
    margin-bottom: 10px;
}